---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NavBicicletas from '../components/NavBicicletas.astro';
---

<Layout>
  <main class="min-h-screen bg-gray-100 p-8">
    <Header/>
    <div class="w-full text-center mt-10 text-4xl font-extrabold mb-10">
      <h1>LAS MEJORES BICICLETAS PARA TÍ</h1>
    </div>
    <NavBicicletas/>
  </main>
</Layout>
